*{-webkit-tap-highlight-color: transparent;}
*,html,body,div,input,textarea,select,span,a,button,table,tr,td,th,ul,ol,li,button{ outline: none; outline-color: transparent; outline-width: 0; outline-style: none; outline-offset: initial; margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; }
a,a:focus,a:hover,a:active,a:visited{ text-decoration: none; }
ul,ol,li{ list-style: none; list-style-type: none; }

body { 
    background-color: #141A2A; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
}

.middle {
    flex: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}
.middle img { object-fit: contain; }

.middle .uc {
    font-size: 64px;
    font-weight: bold;
    color: #1A2544;
    cursor: default;
    font-family: "Futara";
}

.bottom {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer {
    display: flex;
}

.footer img {
    padding: 30px 20px;
    object-fit: contain;
}

@media (max-width : 600px) {
    .logo { text-align: center; }
    .middle img { width: 75vw; }
    .middle { flex: 3; }
    .middle .uc { font-size: 10vw; }
    .footer { display: none;}
}